Package: com.bigdon.chamarootless
Name: chamarootless
Version: 0.0.1
Architecture: iphoneos-arm64
Description: Change app labels
Maintainer: Your Name
Author: Your Name
Section: Tweaks
Depends: firmware (>= 16.0), ellekit