Package: com.bigdon.chamarootless
Name: chamarootless
Version: 0.0.1-11
Architecture: iphoneos-arm64
Description: Change app labels
Maintainer: bigdon
Author: bigdon
Section: Tweaks
Depends: firmware (>= 16.0), ellekit